@import url("https://fonts.googleapis.com/css2?");

@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Roboto&family=Poppins&family=Raleway&family=Open+Sans&family=Playfair+Display&display=swap");

body {
  margin: 0;

  font-family: "Open Sans", sans-serif !important;
  /* font-family: "Playfair Display", serif !important; */
  font-family: "Roboto", sans-serif !important;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
